body {
  background-color: #5586a3;
  color: #fbfdfc;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  
  font-size: 60px;
}

.icon{
 font-size: 80px;
}

.weather-feature{
background: #5186A6;
border-color: #5F8FAB;
border-radius: 24px;
max-width: 600px;
margin: 50px auto;
padding: 30px;
}

